body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0);
}.img-left{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img-left img{
    width: 80%;
    height: 60%;
}
.box-container{
    width: 120%;
}
.box-container .contain{
    width: 100%;
    background-color: aquamarine;
}
.card-body{
    padding: 2rem;
}
.title{
    margin-bottom: 2rem;
}
.form-input{
    position: relative;
}
.form-input input{
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 15px;
    outline: none;
    background: transparent;
    margin-top: 30px;
}
.form-input span{
    position: absolute;
    top: 10px;          
    padding-left: 15px;
    color: #007bff;
}
.form-input input::placeholder{
    color: black;
    padding-left: 0px;
}
.form-input input:focus, .form-input input:valid{
    border: 2px solid green;
}
.form-input input:focus::placeholder{
    color: #454b56;
}
.custom-checkbox .custom-control-input:checked .custom-contro-label::before{
    background-color: #007bff !important;
    border: 0px;
} 
.form-box button[type="button"]{
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: rgb(65, 126, 65);
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 12px;
    padding: 12px;
}
.form-box button[type="button"]:hover{
    background-color: #477fbb;
}
.forget-link, .resgistser-link{
    counter-reset: #007bff;
    font-weight: bold;
}

.card-body {
    width: 100% !important;
    margin: auto;
}
.forget-link:hover, .resgistser-link:hover{
    color: #0069d9;
    text-decoration: none;
}
.form-box .btn-social{
    color: white !important;
    border: 0;
    font-weight: bold;
	border-radius: 15px;
	padding: 10px;
}
.form-box .btn-facebook{
    background: #4866a8;
}
.form-box .btn-google{
    background: #da3f34;
}
.form-box .btn-twitter{
    background: #33ccff;
}
.form-box .btn-facebook:hover{
    background: #3d578f;
}
.form-box .btn-google:hover{
    background: #bf3b31;
}
.form-box .btn-twitter:hover{
    background: #2eb7e5;
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.img-left img{
		width: 100%;
		height: 100%;
	}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.img-left img{
		display: none
	}
    
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
	.img-left img{
		display: none
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .img-left img{
		display: none
	}
}